* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* colors */
    --boho-green: #495E48;
    --boho-yellow: #EFC049;
    --boho-pink: #EEBDC0;
    --boho-blue: #235877;
    --boho-black: #2F2C2C;
    --boho-brown: #B08B71;
    --boho-red: #E12C23;
    --boho-rust: #BC623E;
    --boho-orange: #E47036;
    --boho-violet: #A85F99;
    --boho-beige: #926C4F;
    --boho-purple: #583553;
    --boho-lavander: #A276AB;
    /* colors
#B35642 Terracota 
#495E48 Boho Green
#E47036 Boho Orange
#926C4F Boho Beige
#A85F99 Boho Violet
#EFC049 Boho Yellow
#EEBDC0 Boho Pink
*/

    font-size: 62.5%;
}

body {
    background-color: var(--boho-rust);
}


header {
    /* background-image: url("/img/bannerNew.png");
    height: 50vh;
    background-repeat: no-repeat;
    background-size: cover; */
    /* background-position: bottom; */
    background-color: var(--boho-beige);
    height: 10vh;
    cursor: pointer;
}

h1 {
    width: 50%;
    margin: 0 auto;
    padding-top: 1%;
    color: var(--boho-black);
    
    font-family: 'Rubik Distressed', cursive;
    font-size: 5rem;
    
    text-decoration-line: none;
    text-decoration-color: #235877;
    text-align: center;
    font-weight: 200;
}

a {
    text-decoration: none;
}


menu {
    /* text-align: center; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--boho-brown);

    height: 60px;

}

menu a {
    /* color:#E47036; */
    color: var(--boho-purple);
    width: 100px;
    font-size: 2rem;
    text-decoration: none;
    font-family: 'Bad Script', cursive;

}

menu a:hover {
    color: #B35642;
}


section {
    font-size: 2rem;
    width: 200px;
    margin: 2rem auto;
}

article {
    font-size: 2rem;
    width: 60vw;
    margin: 2rem auto;
 
}

article p{
    font-family: 'Lato', sans-serif;
    
}



.imgCenter {
    border-radius: 20px;
    display: block;
    margin: 2% auto;
}

.imgLeft {
    border-radius: 20px;
    margin: 1% 4%;
    float: left;
}

p {
    font-size: 2.5rem;
    padding: 5px 0px;
    letter-spacing: 0.1rem;
    text-align: justify;
}
.soap p{
    text-align: center;
    font-family: 'Bad Script', cursive;
}

.dedaJova {


    display: block;
    margin: 10% auto 5% auto;
}

.dedaJova p {
    text-align: center;
}

.dedaJova img {
    border-radius: 20px;
    display: block;
    margin: 1% auto;
}

.pisaliOmeni {

    display: flex;
    justify-content: space-evenly;
}

.pisaliOmeni img {
    border-radius: 10px;
    margin: 3vw 0;
}

main {
    /* font-size: 1rem; */
    width: 80vw;
    margin: 2rem auto;
}

main img {
    border-radius: 20px;
    display: block;
    margin: 4% auto;
    width: 18vw;
    height: 25vh;
}

main div {
    width: 20vw;
    /* height: 60vh; */
    margin: 1%;
    border: 5px solid var(--boho-black);
    border-radius: 20px;
}

main p {
    font-size: 2rem;
    padding: 0 2%;
}

main p:first-of-type {
    text-align: center;
    font-weight: 900;
    color: var(--boho-black);
    font-size: 4rem;
    margin: 2%;
    font-family: 'Libre Barcode 39 Text', cursive;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

@media screen and (max-width:481px) {
    h1 {
        font-size: 2.8rem;
        padding-top: 1.5rem;
        width: 80vw;
    }
    menu a{
        font-size: 1.5rem;
        padding: 1px;
    }
    main {
        width: 90vw;
        margin: 2rem auto;
        display:block;
    }
    main div{
        width: 90vw;
    }
    .soap img{
        width: 80vw;
        height:30vh;
    }
    main p {
        font-size: 2rem;
    }

    main p:first-of-type {
        font-size: 3rem;
    }

    article {

        width: 90vw;
        /* margin: 2rem auto; */
    }

    .pisaliOmeni {
        display: block;
    }

    .pisaliOmeni img {
        display: block;
        margin: 3% auto;
    }
   
}

@media screen and (min-width:482px) and (max-width:600px) {
/* @media (min-width:482px) { */
    h1 {
        font-size: 2.5rem;
    }

    article {

        width: 90vw;
        /* margin: 2rem auto; */
    }

    main {
        flex-wrap: wrap;
    }

    main p {
        font-size: 1rem;
    }

    .pisaliOmeni {
        display: block;
    }

    .pisaliOmeni img {
        margin: 0 auto;
        ;
    }
    
}

@media screen and (min-width:600px) and (max-width:993px) {
/* @media screen and (min-width:600px) and (max-width:993px) { */
    article {
        /* font-size: 1rem; */
        width: 90vw;
        /* margin: 2rem auto; */
    }

    h1 {
        font-size: 3rem;
    }

    main {
        flex-wrap: wrap;
    }

    main p {
        font-size: 1.5rem;
    }
    main div {
        width: 35vw;
        
        margin: 1%;
        
    }
    main p:first-of-type {
        font-size: 2.5rem;
    }
    .soap img{
        width: 31vw;
        height:30vh;
    }
}

.boje div{
    width:20vw;
    height: 5vh;
    text-align: center;
    font-size: 3rem;
    margin: 0;
    border: 2px solid black;
}

.bohoGreen{
background-color: var(--boho-green);
text-decoration: line-through;
}

.bohoYellow{
    background-color: var(--boho-yellow);
    letter-spacing: 10px;
}

.bohoPink{
    background-color: var(--boho-pink);
    text-decoration: line-through;
}

.bohoBlue{
    background-color: var(--boho-blue);
    letter-spacing: 10px;
}
.bohoBlack{
    background-color:var(--boho-black);
    text-decoration: line-through;
}

.bohoBrown{
    background-color:var(--boho-brown) ;
    letter-spacing: 10px;
}

.bohoRed{
    background-color: var(--boho-red);
    letter-spacing: 10px;
}

.bohoRust{
    background-color: var(--boho-rust);
    letter-spacing: 10px;
}

.bohoPurple{
    background-color: var(--boho-purple);
    text-decoration: line-through;
}

.bohoLavander{
    background-color: var(--boho-lavander);
    letter-spacing: 10px;
}

.bohoBeige{
    background-color: var(--boho-beige);
    text-decoration: line-through;
}
.bohoViolet{
    background-color: var(--boho-violet);
    text-decoration: line-through;
}

.bohoOrange{
background-color: var(--boho-orange);
letter-spacing: 10px;
}

section{
    width: 30%;
    margin: 0 auto;
}
 ul{
    margin:5px auto;
}
